@import "_media";
@import "_fonts";
@import "_variable";
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body,
html {
    padding: 0;
    margin: 0;
}

body {
    color: $mainBlack;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    font-family: $mainFontFamily;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header {
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 140px;
        padding: 30px 0;
    }
}
.logo{
    margin-bottom: 30px;
}

.menu{
    &__list{
        display: flex;
        justify-content: space-between;
        gap: 0 65px;
        font-weight: 400;
        font-size: 18px;
    }
}
.user-action{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}
search {
    button{
        margin-left: 80px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
 input {
display: none;
}
}